extends layout

block layout-content
  body.text-center
    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
      h1(class=h1Classes) Magic Link Sent!
      h3(class=h3Classes) Check your email for a link to sign in!
