extends layout

block layout-content
  body.text-center
    form(class="form-signin" action='/passwordless-auth', method='POST')
      #error
        if error
          p.text-danger Error!!!
      - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
        h1(class=h1Classes) Magic Link Example Application
        h5(class=h5Classes) Send a Magic Link to your email address:
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email')
            input(id='inputEmail',class="form-control",type='email',value='',placeholder='Email Address',name='email' required autofocus)

      div(data-role='fieldcontain')
        - var buttonClass=['btn', 'btn-md', 'btn-primary', 'btn-block'];
          button(class=buttonClass type="submit") Send Magic Link Now
