extends layout

block layout-content
  body.text-center
    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
      h1(class=h1Classes) Congratulations!
      h1(class=h1Classes) You have signed in successfully!
